.card, .grid, .chart {
    background-color: white;
    border: 1px solid $gray-500;

    @media #{$mobile}, #{$tablet} {
        margin-bottom: $spacing;
    }
}

// Card component
.card {
    display: flex;
    height: auto;
    width: 100%;

    border-radius: 0;

    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;

    .card-icon, .card-body {
        height: 100%;
        padding: $spacing / 2;
    }

    .card-icon {
        @media #{$mobile} {
            width: 80px;
        }
        &:before {
            font-family: "FontAwesome", serif;
            font-size: 60px !important;

            @media #{$tablet} {
                font-size: 20px !important;
            }
        }

    }

    .card-body {
        h4 {
            font-size: 40px;
            font-weight: bold;

            @media #{$mobile}, #{$tablet} {
                font-size: 30px;
            }
        }
    }
}

// Grid component
.grid {
    .grid-head {
        padding: $spacing;
    }
    .grid-body {
        thead tr {
            line-height: 0.5rem;
        }
    }

    @media #{$mobile} {
        // FIXME: Display datagrid on mobile properly
        display: none;
    }
}

// Chart component
.chart {
    .chart-head {
        padding: $spacing;
    }

    .chart-body {
        margin: 1.5 * $spacing;

        @media #{$mobile} {
            margin: $spacing/3;
        }
    }
}
