nav {
    height: $navbar-base-height;

    @media (max-width: 770px) {
        .navbar-collapse {
            background: black;
            position: absolute;
            left: 0;
            right: 0;
            top: $navbar-base-height;

            li {
                padding: $spacing;
                text-align: center;
            }
        }
    }
}
