<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Time</th>
            <th>Windspeed</th>
            <th>Wind direction</th>
            <th>Outside temp</th>
            <th>Rain rate</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of model">
            <td>{{entry.timestamp}} CEST</td>
            <td>{{entry.windSpeed | number}} km/h</td>
            <td>{{entry.windDir | number}}</td>
            <td>{{entry.outTemp | number}} °C</td>
            <td>{{entry.rainRate | number}} °C</td>
        </tr>
        </tbody>
    </table>
</div>
