{% extends "base.html" %}

{% block customhead %}
{#{% load chartit %}#}
    {#{{ weatherchart|load_charts:"container" }}#}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Tables</h1>
</div>

{% if plain_data %}
<table class="table table-striped">
    <thead>
	<tr>
	    <th>#</th>
	    <th>Date</th>
	    <th>Out Temp</th>
	    <th>Wind Speed</th>
	</tr>
    </thead>
    <tbody>
	{% for data in plain_data %}
	<tr>
	    <td></td>
	    <td>{{ data.time }}</td>
	    <td>{{ data.outTemp|slice:":-7" }}</td>
	    <td>{{ data.windSpeed|slice:":-4" }}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>
{% else %}
<p>No weatherdata available.</p>
{% endif %}

<div id='container'> Chart will be rendered here </div>

{% endblock %}

