{% extends "base.html" %}
{% load i18n %}

{% block customhead %}
    {% load chartit %}
    {{ charts|load_charts:"weatherchart-daily, weatherchart-monthly" }}
    {% load static %}
    <script src="{% static "app/charts_custom.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "Weatherstation at Merligen, Switzerland" %}<a href="/app/map"><i class="fa fa-map-marker"></i></a>
        </h1>
    </div>

    <div class="view">
        <h2>{% trans "Daily" %}</h2>

        <div id="weatherchart-daily"></div>
    </div>

    <div class="view">
        <h2>{% trans "Last two weeks" %}</h2>

        <div id="weatherchart-monthly"></div>
    </div>

{% endblock %}

