{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weatherdata {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% compress css %}
        <link href="{% static "app/style.less" %}" media="all" rel="stylesheet" type="text/less"/>
    {% endcompress %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    {% block customhead %}{% endblock %}
</head>

<body role="document" class="{{ request.session.color }}">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">SwissView</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/app/">{% trans "Overview" %}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav navbar-nav">
                    <div class="lang-selection">
                        {% get_available_languages as languages %}
                        {% for lang_code, lang_name in languages %}
                            <form action="{% url 'set_language' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" name="language" value="{{ lang_code }}"/>
                            </form>
                        {% endfor %}
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>{{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a data-target="#settingsModal" data-toggle="modal" href="#">{% trans "Settings" %}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="logout/">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">
    {% block content %}{% endblock %}
</div>
{% if user.is_authenticated %}
    {% include "app/settingsModal.html" %}
{% endif %}
</body>
</html>
