body {
  padding-top: 70px;
  padding-bottom: 30px;
}
body .navbar {
  color: black;
  background: black;
  border: none;
}
body .navbar .navbar-nav .lang-selection {
  margin-right: 40px;
}
body .navbar .navbar-nav .lang-selection form {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
body .navbar .navbar-nav .lang-selection form input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: none;
}
body .navbar .navbar-nav > .active a,
body .navbar .navbar-nav > .active a:focus,
body .navbar .navbar-nav > .active a:hover {
  background: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .navbar .navbar-nav,
body .navbar .navbar-brand,
body .navbar .dropdown-toggle {
  text-shadow: none;
  color: white;
}
body.black .navbar {
  color: black;
  background: black;
  border: none;
}
body.black .navbar .navbar-nav .lang-selection {
  margin-right: 40px;
}
body.black .navbar .navbar-nav .lang-selection form {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
body.black .navbar .navbar-nav .lang-selection form input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: none;
}
body.black .navbar .navbar-nav > .active a,
body.black .navbar .navbar-nav > .active a:focus,
body.black .navbar .navbar-nav > .active a:hover {
  background: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.black .navbar .navbar-nav,
body.black .navbar .navbar-brand,
body.black .navbar .dropdown-toggle {
  text-shadow: none;
  color: white;
}
body.green .navbar {
  color: green;
  background: green;
  border: none;
}
body.green .navbar .navbar-nav .lang-selection {
  margin-right: 40px;
}
body.green .navbar .navbar-nav .lang-selection form {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
body.green .navbar .navbar-nav .lang-selection form input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: none;
}
body.green .navbar .navbar-nav > .active a,
body.green .navbar .navbar-nav > .active a:focus,
body.green .navbar .navbar-nav > .active a:hover {
  background: green;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.green .navbar .navbar-nav,
body.green .navbar .navbar-brand,
body.green .navbar .dropdown-toggle {
  text-shadow: none;
  color: white;
}
body.red .navbar {
  color: red;
  background: red;
  border: none;
}
body.red .navbar .navbar-nav .lang-selection {
  margin-right: 40px;
}
body.red .navbar .navbar-nav .lang-selection form {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
body.red .navbar .navbar-nav .lang-selection form input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: none;
}
body.red .navbar .navbar-nav > .active a,
body.red .navbar .navbar-nav > .active a:focus,
body.red .navbar .navbar-nav > .active a:hover {
  background: red;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.red .navbar .navbar-nav,
body.red .navbar .navbar-brand,
body.red .navbar .dropdown-toggle {
  text-shadow: none;
  color: white;
}
body.blue .navbar {
  color: blue;
  background: blue;
  border: none;
}
body.blue .navbar .navbar-nav .lang-selection {
  margin-right: 40px;
}
body.blue .navbar .navbar-nav .lang-selection form {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
body.blue .navbar .navbar-nav .lang-selection form input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: none;
}
body.blue .navbar .navbar-nav > .active a,
body.blue .navbar .navbar-nav > .active a:focus,
body.blue .navbar .navbar-nav > .active a:hover {
  background: blue;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.blue .navbar .navbar-nav,
body.blue .navbar .navbar-brand,
body.blue .navbar .dropdown-toggle {
  text-shadow: none;
  color: white;
}
h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
  font-weight: bold;
}
.panel-login {
  width: 370px;
  margin: 0 auto;
}
.view {
  margin-bottom: 120px;
}
.view h2 {
  margin-bottom: 30px;
}
.panel-login .input-group,
.panel-login .form-group {
  margin-top: 8px;
}
.dropdown-toggle.user i {
  margin-right: 5px;
}
.modal-body ul {
  list-style: none;
}
svg > text {
  display: none;
}
