body {
  padding-top: 70px;
  padding-bottom: 30px;
  .theme(black, black, white)
}

body.black {
  .theme(black, #404040, white);
}

body.green {
  .theme(green, #00a300, white);
}

body.red {
  .theme(#ff7b59, #650000, white);
}

body.blue {
  .theme(#1133a0, #0d1c54, white);
}

.theme(@color1, @color2, @color3) {
  .btn-primary {
    background: @color1;

    &:hover {
      background: @color2;
    }
  }

  .navbar {
    background: @color1;
    border: none;

    .navbar-nav {
      .open > a {
        background: @color2 !important;
        box-shadow: none;
      }
      .lang-selection {
        margin-right: 40px;
        form {
          float: left;
          padding-top: 15px;
          padding-bottom: 15px;
          input[type=submit] {
            text-transform: uppercase;
            background: none;
            border: none;
          }
        }
      }
      & > .active {
        a, a:focus, a:hover {
          background: @color1;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }

    .navbar-nav, .navbar-brand, .dropdown-toggle {
      text-shadow: none;
      color: @color3;
    }
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

.panel-login {
  width: 370px;
  margin: 0 auto;
}

.view {
  h2 {
    margin-bottom: 30px;
  }
  margin-bottom: 120px;
}

.panel-login .input-group,
.panel-login .form-group {
  margin-top: 8px;
}

.dropdown-toggle.user i {
  margin-right: 5px;
}

.modal-body {
  ul {
    list-style: none;
  }
  th {
    padding-right: 26px;
  }
  #id_color {
    padding-left: 0;
    li {
      float: left;
      margin-right: 10px;
    }
  }

  tr:last-child {
    th, td {
      padding-top: 30px;
    }
  }
}

svg > text {
  display: none;
}

i {
  margin: 0 6px;
}

.btn, .btn:focus, .btn:hover {
  border-radius: 0;
  border: none;
}

.btn {
  background: #d7d7d7;

  &:hover {
    background: #c6c6c6;
  }
}

#id_fields {
  height: 160px;
}